<div class="my-1 flex flex-row items-center gap-3 px-3 py-2 text-slate-50" *ngIf="machine" cdkDrag>
  <!-- <span>{{ machine.name }}</span> -->
  <div cdkDragHandle>
    <i class="fas fa-grip-vertical"></i>
  </div>

  <div class="grid flex-1 grid-cols-12" *ngIf="machine">
    <div class="col-span-6 flex flex-row flex-wrap items-center gap-2">
      <button class="btn btn-icon btn-warning" (click)="onEditMachine(machine)">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button class="btn btn-icon btn-danger" (click)="onDeleteMachine(machine)">
        <i class="fas fa-trash"></i>
      </button>

      <div class="flex flex-wrap items-center">
        <input
          class="max-w-[7rem]"
          type="number"
          name="machineCount"
          step="0.1"
          [(ngModel)]="machine.count"
          (change)="onUpdateMachineCount(machine)"
          (keyup)="onUpdateMachineCount(machine)"
        />
        <label for="machineCount" class="ml-2">
          {{ machine.name }}
          <span class="text-sm font-light">Machine(s)</span>
        </label>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="ios" [ngTemplateOutletContext]="{ $implicit: machine.machineInputs }"></ng-container>
    <ng-container [ngTemplateOutlet]="ios" [ngTemplateOutletContext]="{ $implicit: machine.machineOutputs }"></ng-container>
  </div>
</div>

<!-- <hr> -->

<ng-template #ios let-data>
  <div class="col-span-3">
    <div *ngFor="let item of data">
      <span>
        <strong>{{ item.totalRate | number : '0.1-2' }}</strong>
        {{ item.name }}/sec
      </span>
    </div>
  </div>
</ng-template>
