<section class="flex flex-col gap-3">
  <app-section-title [$title]="$title()" [$iconClass]="$iconClass()"></app-section-title>

  @if ($showToolbar()) {
    <div class="flex flex-wrap items-end gap-3">
      <button class="btn btn-icon btn-success" (click)="onAdd()">
        <i class="fas fa-plus"></i>
        <span>Add {{ $addLabel() }}</span>
      </button>

      <app-form-field-block [$label]="'Filter'" [$className]="'min-w-56'">
        <input
          class="h-9"
          [ngModel]="$filterValue()"
          [placeholder]="'Filter'"
          [attr.aria-label]="'Filter'"
          (ngModelChange)="onFilterChange($event)"
          type="text"
        />
      </app-form-field-block>
    </div>
    <hr />
  }

  <div class="flex flex-col gap-4">
    <ng-content></ng-content>
  </div>
</section>
