{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
