{
  "singleQuote": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "semi": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
