export interface {{upperCamelCaseName}}Config {
  inputPath: string;
  outputPath: string;
}

export const {{constantCaseName}}_CONFIG: {{upperCamelCaseName}}Config = 
  {
    inputPath: `global/assets/configs/factorio/factorio.config.json`,
    outputPath: `global/assets/configs/factorio/factorio.config.json`,
  };
