import { {{upperCamelCaseName}} } from './{{dashCaseName}}.model';

export const MOCK_{{upperCamelCaseName}}: {{upperCamelCaseName}} = {

};

export const MOCK_{{upperCamelCaseName}}_Array: {{upperCamelCaseName}}[] = [MOCK_{{upperCamelCaseName}}];
