@let machines = $machines();
@let machinesTotals = $machineTotals();
@let errorMessage = $errorMessage();

<div class="flex min-h-0 flex-1 flex-col gap-3 overflow-auto p-4">
  <!-- Header -->
  <div
    class="-m-4 flex flex-row flex-wrap items-center justify-between gap-3 border-b border-stone-700 bg-stone-950/60 px-6 py-3"
  >
    <div class="flex flex-row flex-wrap gap-2">
      <button class="btn btn-icon btn-success cursor-pointer" (click)="onAddMachine()">
        <i class="fas fa-plus"></i> Production
      </button>
      <button class="btn btn-icon btn-danger-outline cursor-pointer" (click)="onClearAll()">
        <i class="fas fa-trash"></i> Clear All
      </button>
    </div>

    <div class="flex flex-row flex-wrap gap-2">
      <button
        class="btn btn-icon btn-primary-outline cursor-pointer gap-2"
        (click)="downloadData()"
      >
        <i class="fas fa-download"></i> Download Productions
      </button>
      <!-- <input type="file" class="form-control" id="file" (change)="uploadFile($event)" /> -->
      <app-file-picker
        #importPicker
        [$filesTypesAccepted]="'.json'"
        [$btnClass]="'btn btn-icon btn-primary-outline cursor-pointer gap-2'"
        ($fileChange)="uploadData($event)"
      >
        <i class="fas fa-cloud-arrow-up"></i> Upload Productions
      </app-file-picker>
    </div>
  </div>

  <!-- Production View -->
  <div class="mx-auto flex w-full max-w-[1920px] flex-col gap-2 overflow-auto text-slate-50">
    <app-production-group
      [$machines]="machines"
      [$machineTotals]="machinesTotals"
      ($editMachine)="onEditMachine($event)"
      ($deleteMachine)="onDeleteMachine($event)"
      ($updateMachineCount)="onEditFinish()"
      ($drop)="onDrop($event)"
    ></app-production-group>

    @if (errorMessage) {
      <div class="text-red-500">{{ errorMessage }}</div>
    }
  </div>
</div>

<app-production-editor-modal
  [$machine]="$machineToEdit()"
  [$show]="$isEditorOpen()"
  ($showChange)="onEditorVisibilityChange($event)"
></app-production-editor-modal>
