<!-- Overlay -->
<div
  *ngIf="show"
  class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-neutral-500 bg-opacity-50 outline-none focus:outline-none"
>
  <div class="relative mx-auto my-6 w-full max-w-5xl">
    <!--content-->
    <div
      class="relative flex w-full flex-col rounded-lg border-0 bg-zinc-800 shadow-lg outline-none focus:outline-none text-slate-50"
    >
      <!--header-->
      <div
        class="flex items-start justify-between rounded-t border-b border-solid border-zinc-600 p-5"
      >
        <h3 class="text-2xl font-semibold">
          {{ title }}
        </h3>
        <button
          class="float-right ml-auto border-0 bg-transparent p-1 text-3xl font-semibold leading-none text-red-500 outline-none focus:outline-none"
          (click)="closeModal()"
        >
          <span class="block h-6 w-6 bg-transparent outline-none focus:outline-none"> × </span>
        </button>
      </div>

      <!--body-->
      <div class="flex-auto overflow-auto p-6">
        <ng-content></ng-content>
      </div>

      <!--footer-->
      <div
        *ngIf="secondaryButton"
        class="flex items-center justify-end rounded-b border-t border-solid border-zinc-600 p-6"
      >
        <button
          class="background-transparent mb-1 mr-1 px-6 py-2 text-sm font-bold uppercase text-slate-500 outline-none transition-all duration-150 ease-linear focus:outline-none"
          type="button"
          (click)="onSecondaryButtonClick()"
        >
          {{ secondaryButton }}
        </button>

        <button
          *ngIf="primaryButton"
          class="mb-1 mr-1 rounded bg-emerald-500 px-6 py-3 text-sm font-bold uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:shadow-lg focus:outline-none active:bg-emerald-600"
          type="button"
          (click)="onPrimaryButtonClick()"
        >
          {{ primaryButton }}
        </button>
      </div>
    </div>
  </div>
</div>
