<button class="btn btn-icon btn-success" (click)="onAddMachine()">
    <i class="fas fa-plus"></i> Machine
</button>
<button class="btn btn-icon btn-danger" (click)="onClearAll()">
        <i class="fas fa-trash"></i> Clear All
    </button>


<div class="row titles">
    <div class="col-sm-12 col-md-6"> Machines </div>
    <div class="col-sm-12 col-md-3"> Input Rate </div>
    <div class="col-sm-12 col-md-3"> Output Rate </div>
</div>

<app-machine-io *ngFor="let machine of machines; index as i;" [machine]='machine' (editMachine)="onEditMachine($event)" (deleteMachine)="onDeleteMachine(i)"></app-machine-io>
<div *ngIf="!machines || machines.length <= 0">No Machines, why dont you add a new one?</div>


<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'xl'">
    <h3 class="modal-title">Machine Details</h3>
    <div class="modal-body">
        <app-machine-modal *ngIf="machineToEdit" [machine]='machineToEdit'></app-machine-modal>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalOpened = false">Close</button>
    </div>
</clr-modal>
