@let machines = $machines();
@let machinesTotals = $machineTotals();
@let errorMessage = $errorMessage();
@let displayMode = $editorDisplayMode();
@let isEditorOpen = $isEditorOpen();
@let hasBlankProduction = $hasBlankProduction();

@if (displayMode === EditorDisplayMode.Full && isEditorOpen) {
  <app-content-layout
    [$title]="'Production Editor'"
    [$subTitle]="$editorSubtitle()"
    ($close)="closeEditor()"
  >
    <app-production-editor-full
      [$machine]="$machineDraft()"
      ($machineChange)="onDraftMachineChanged($event)"
    ></app-production-editor-full>
  </app-content-layout>
} @else {
  <app-content-layout
    [$title]="'Production Chain Editor'"
    [$subTitle]="$editorSubtitle()"
    [$showClose]="false"
  >
    <div
      class="flex flex-1 flex-wrap items-center justify-between gap-2"
      ngProjectAs="content-header"
    >
      <div class="flex flex-wrap items-center gap-2">
        <button
          class="btn btn-icon btn-success cursor-pointer"
          [disabled]="hasBlankProduction"
          [title]="hasBlankProduction ? addBlockedTitle : 'Add production'"
          (click)="onAddMachine()"
        >
          <i class="fas fa-plus"></i> Production
        </button>

        <button
          class="btn btn-icon btn-primary-outline cursor-pointer"
          (click)="onOpenAddMachineFromCatalogModal()"
          type="button"
        >
          <i class="fas fa-plus"></i> Add From Catalog
        </button>

        <button class="btn btn-icon btn-danger-outline cursor-pointer" (click)="onClearAll()">
          <i class="fas fa-trash"></i> Clear All
        </button>
      </div>

      <div class="flex flex-wrap items-center gap-2">
        <button
          class="btn btn-icon btn-primary-outline cursor-pointer gap-2"
          (click)="downloadData()"
        >
          <i class="fas fa-download"></i> Download Productions
        </button>
        <app-file-picker
          #importPicker
          [$filesTypesAccepted]="productionFileAccept"
          [$btnClass]="'btn btn-icon btn-primary-outline cursor-pointer gap-2'"
          [$title]="'Upload productions'"
          ($fileChange)="uploadData($event)"
        >
          <i class="fas fa-cloud-arrow-up"></i> Upload Productions
        </app-file-picker>
      </div>
    </div>
    <div class="mx-auto flex w-full max-w-[1920px] flex-1 overflow-hidden text-slate-50">
      <div class="flex min-h-0 flex-1 flex-col gap-2 overflow-auto p-4">
        <app-production-group
          [$machines]="machines"
          [$machineTotals]="machinesTotals"
          ($editMachine)="onEditMachine($event)"
          ($duplicateMachine)="onDuplicateMachine($event)"
          ($downloadMachine)="onDownloadMachine($event)"
          ($deleteMachine)="onDeleteMachineById($event)"
          ($moveMachine)="onMoveMachine($event)"
          ($toggleMachineExpanded)="onToggleMachineExpanded($event)"
          ($addChildMachine)="onAddChildMachine($event)"
          ($updateMachineCount)="onEditFinish()"
        ></app-production-group>

        @if (errorMessage) {
          <div class="text-red-500">{{ errorMessage }}</div>
        }
      </div>

      @if (displayMode === EditorDisplayMode.Sidebar) {
        <div class="w-lg shrink-0 border-l border-stone-700">
          <app-production-editor-sidebar
            [$machine]="$machineDraft()"
            [$show]="isEditorOpen"
            ($showChange)="onEditorVisibilityChange($event)"
            ($machineChange)="onDraftMachineChanged($event)"
            ($close)="onEditorClosed()"
          ></app-production-editor-sidebar>
        </div>
      }
    </div>
  </app-content-layout>
}

@if (displayMode === EditorDisplayMode.Modal) {
  <app-production-editor-modal
    [$machine]="$machineDraft()"
    [$show]="isEditorOpen"
    ($showChange)="onEditorVisibilityChange($event)"
    ($machineChange)="onDraftMachineChanged($event)"
  ></app-production-editor-modal>
}

<app-modal
  [($show)]="$isAddFromCatalogModalOpen"
  [$title]="'Add Production From Catalog'"
  [$primaryButton]="undefined"
  [$secondaryButton]="undefined"
  [$bodyClass]="'flex flex-col gap-4 p-6'"
>
  <app-select-single-icon-input
    [$className]="'w-full min-w-72'"
    [$value]="$selectedProductionTemplateName()"
    [$name]="'catalogProductionModalSelect'"
    [$placeholder]="'Production from catalog'"
    [$options]="$productionTemplateNames()"
    [$iconsByName]="$productionTemplateIconsByName()"
    [$mode]="SelectInputMode.SelectOnly"
    [$showSelectedIcon]="false"
    ($valueChange)="onProductionTemplateNameChange($event)"
    ($commit)="onProductionTemplateNameChange($event)"
  ></app-select-single-icon-input>

  <div class="flex justify-end gap-2">
    <button
      class="btn btn-secondary-outline cursor-pointer"
      (click)="onCloseAddMachineFromCatalogModal()"
      type="button"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary cursor-pointer"
      [disabled]="!$selectedProductionTemplateName()"
      [title]="
        !$selectedProductionTemplateName() ? 'No production selected to add' : 'Add production'
      "
      (click)="onAddMachineFromCatalog()"
      type="button"
    >
      Add Production
    </button>
  </div>
</app-modal>
