<div class="row machineInfoRow">
    <div class="col-sm-12 col-md-6">
        <button class="btn btn-icon btn-warning" (click)="onEditMachine()">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-icon btn-danger" (click)="onDeleteMachine()">
            <i class="fas fa-trash"></i>
        </button>
        <label for="machineCount">{{machine.name}}</label>
        <input type="number" name="machineCount" [(ngModel)]="machine.count" (change)="recalcItemRates()" (keyup)="recalcItemRates()">
    </div>

    <div class="col-sm-12 col-md-3">
        <div *ngFor="let item of machine.machineInputs">
            <span><strong>{{item.totalRate | number:'0.1-2'}}</strong> {{item.name}}/sec</span>
        </div>
    </div>

    <div class="col-sm-12 col-md-3">
        <div *ngFor="let item of machine.machineOutputs">
            <span><strong>{{item.totalRate | number:'0.1-2'}}</strong> {{item.name}}/sec</span>
        </div>
    </div>
</div>

<!-- <hr> -->
