<label for="machineName">Machine Name:</label>
<input type="string" name="machineCraftSpeed" [(ngModel)]="machine.name">

<div class="row">
    <div class="col-sm-12 col-md-4">
        <label for="machineCraftSpeed">Craft Speed</label>
        <input type="number" name="machineCraftSpeed" [(ngModel)]="machine.craftingSpeed" (change)="machineStatChange()" (keyup)="machineStatChange()">
    </div>
    <div class="col-sm-12 col-md-4">
        <label for="machineCraftTime">Time (s)</label>
        <input type="number" name="machineCraftTime" [(ngModel)]="machine.timeToComplete" (change)="machineStatChange()" (keyup)="machineStatChange()">
    </div>
    <div class="col-sm-12 col-md-4">
        <label>Effective Time</label>
        <span>{{machine?.effectiveTime | number:'0.1-2'}} s</span>
    </div>
</div>


<br>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h5>Input</h5>
        <button class="btn btn-icon btn-success" (click)="onAddItem(machine.machineInputs)">
            <i class="fas fa-plus"></i>
        </button>
        <hr>

        <div *ngFor="let item of machine?.machineInputs; index as i;">
            <button class="btn btn-icon btn-danger" (click)="onDeleteItem(machine.machineInputs, i)">
                <i class="fas fa-trash"></i>
            </button>
            <input type="number" name="machineItemCount" [(ngModel)]="item.count" (change)="recalcItemRate(item, machine)" (keyup)="recalcItemRate(item, machine)">
            <input type="string" name="machineItemName" [(ngModel)]="item.name">
            <span>-></span>
            <span>{{item.rate | number:'0.1-2'}} i/s</span>
            <br>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <h5>Output</h5>
        <button class="btn btn-icon btn-success" (click)="onAddItem(machine.machineOutputs)">
            <i class="fas fa-plus"></i>
        </button>
        <hr>

        <div class="item" *ngFor="let item of machine?.machineOutputs; index as i;">
            <button class="btn btn-icon btn-danger" (click)="onDeleteItem(machine.machineOutputs, i)">
                <i class="fas fa-trash"></i>
            </button>
            <input type="number" name="machineItemCount" [(ngModel)]="item.count" (change)="recalcItemRate(item, machine)" (keyup)="recalcItemRate(item, machine)">
            <input type="string" name="machineItemName" [(ngModel)]="item.name">
            <span>-></span>
            <span>{{item.rate | number:'0.1-2'}} i/s</span>
            <br>
        </div>
    </div>

</div>
